/bin_temp/bin/Debug
/bin_temp/bin/Release
/bin_temp/lib/Debug
/bin_temp/lib/Release
/bin_temp/share/Debug
/bin_temp/share/OceanLightingFFT
/bin_temp/share/Release
/binaries/Debug/bin
/binaries/Debug/lib
/binaries/Debug/share/Castor3D
/binaries/Debug/share/CastorShape/fr
/binaries/Debug/share/CastorViewer/fr
/binaries/Debug/share/ImgConverter/fr
/binaries/Debug/share/OceanLightingFFT
/binaries/Release/bin
/binaries/Release/lib
/binaries/Release/share/Castor3D
/binaries/Release/share/CastorShape/fr
/binaries/Release/share/CastorViewer/fr
/binaries/Release/share/ImgConverter/fr
/binaries/Release/share/OceanLightingFFT
/build_debug
/build_release
/build_vc12
/resource/ASSIMPImporter/*.rc
/resource/Castor3D/Castor3D.rc
/resource/CastorUtils/CastorUtils.rc
/resource/Dx10RenderSystem/Dx10RenderSystem.rc
/resource/Dx11RenderSystem/Dx11RenderSystem.rc
/resource/Dx9RenderSystem/Dx9RenderSystem.rc
/resource/GlRenderSystem/GlRenderSystem.rc
/resource/LoopDivider/LoopDivider.rc
/resource/PlyImporter/PlyImporter.rc
/resource/PnTrianglesDivider/PnTrianglesDivider.rc
/resource/ShaderProgramCg/ShaderProgramCg.rc
/samples/resource/OceanLightingFFT/OceanLightingFFT.rc
/tools/resource/CastorShape/CastorShape.rc
/tools/resource/CastorViewer/CastorViewer.rc
/tools/resource/GuiCommon/GuiCommon.rc
/tools/resource/ImgConverter/ImgConverter.rc
/include/Castor3D/RequiredVersion.hpp
/cmake_modules/*.cmake~
/data/Scene/Models/Final Fantasy XIII/Fang
/data/Scene/Models/Final Fantasy XIII/Jihl
/data/Scene/Models
/data/Scene/ModelsTest
/source/Castor3D/Engine.cpp~
/bin_temp
/binaries
/build_vs12
/data/Scene/3ds.cscn
/data/Scene/batman.cscn
/data/Scene/city.cscn
/data/Scene/ffXIII-fang.cscn
/data/Scene/ffXIII-jihl.cscn
/data/Scene/ffXIII.cscn
/data/Scene/mat.cscn
/data/Scene/medieval-city.cscn
/data/Scene/overlays.cscn

/build/vc11_x86

/resource/AseImporter/AseImporter.rc
/resource/LwoImporter/LwoImporter.rc
/resource/Md2Importer/Md2Importer.rc
/resource/Md3Importer/Md3Importer.rc
/resource/ObjImporter/ObjImporter.rc
/resource/SMaxImporter/SMaxImporter.rc
