/.vscode
/.gitattributes
/.vs
/binaries
/build
/build*
/setup
/data/Aria/
/data/Scenes/
/data/TestAnalysis/
/data/TestScenes/
/data/Castor3D/Core
/data/CastorDvpTD/Data
/data/CastorDvpTD/HUD_Source.jpg
/doc/Castor3D/FR
/doc/Castor3D/EN
/doc/CastorUtils/FR
/doc/CastorUtils/EN
/source/Samples/CastorViewerSharp/Src/obj
/CMake
/out
/vcpkg_installed
/ci
/old
/ref
/package

*.csproj
*.user
*.suo
*.gch
*.*~
*.exe
*.dll
*.cache
*.AssemblyAttributes.cs
CMakeSettings.json
.DS_Store
*.mk