/binaries
/build
/setup
/doc/x86
/doc/x64
/source/Core/Castor3D/Data/Core
/source/Samples/CastorViewerSharp/Src/obj
/source/CMake
/data/Scene/Tests
/data/Scene/Alpha
/data/Scene/Anim
/data/Scene/Billboards
/data/Scene/Gui
/data/Scene/Lighting
/data/Scene/Overlay
/data/Scene/Parc
/data/Scene/FbxScene
/data/Scene/Sampler
/data/Scene/Skybox
/.gitattributes
*.csproj
*.user
*.suo
*.gch
*.*~
