notifications:
  email:
    on_success: never
    on_failure: always

language: cpp
compiler: g++
os: linux
sudo: required
dist: trusty

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-8

env:
  global:
    - COMPILER=g++-8

git:
  submodules: false

before_install:
  - git submodule update --init -- "source/CMake"
  - git submodule update --recursive --init -- "source/external/Ashes"
  - git submodule update --init -- "source/external/zlib"
  - git submodule update --recursive --init -- "source/external/ShaderWriter"
  - git submodule update --init -- "source/external/glslang"

before_script:
  - sudo apt-get update -qq
  - sudo apt-get install libc6-dev
  - sudo apt-get install gcc-8-multilib g++-8-multilib
  - sudo apt-get install cmake
  - export CXX="g++-8"
  - export CC="gcc-8"

script:
  - mkdir -p build
  - cd build
  - cmake -DCMAKE_BUILD_TYPE=Release ../source -DSDW_GENERATE_SOURCE=OFF -DPROJECTS_USE_PRECOMPILED_HEADERS=OFF -DCASTOR_BUILDGRP_DIVIDER=OFF -DCASTOR_BUILDGRP_GENERATOR=OFF -DCASTOR_BUILDGRP_GENERIC=OFF -DCASTOR_BUILDGRP_IMPORTER=OFF -DCASTOR_BUILDGRP_INTEROP=OFF -DCASTOR_BUILDGRP_PARTICLES=OFF -DCASTOR_BUILDGRP_POSTFX=OFF -DCASTOR_BUILDGRP_RENDERER=OFF -DCASTOR_BUILDGRP_SAMPLE=OFF -DCASTOR_BUILDGRP_TEST=OFF -DCASTOR_BUILDGRP_TONEMAPS=OFF
  - make -j4

branches:
  only:
    - master
    - development
    - travis
