notifications:
  email:
    on_success: never
    on_failure: always

language: cpp
compiler: g++
os: linux
sudo: required
dist: trusty

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-8

env:
  global:
    - COMPILER=g++-8
  matrix:
    - CU_TEST=true CU_IMPORTERS=false CU_DIVIDERS=false CU_POSTFXS=false CU_TONEMAPS=false CU_GENERICS=false CU_PARTICLES=false CU_GENERATORS=false CU_RENDERERS=false CU_SAMPLES=false
    - CU_TEST=false CU_IMPORTERS=true CU_DIVIDERS=false CU_POSTFXS=false CU_TONEMAPS=false CU_GENERICS=false CU_PARTICLES=false CU_GENERATORS=false CU_RENDERERS=false CU_SAMPLES=false
    - CU_TEST=false CU_IMPORTERS=false CU_DIVIDERS=true CU_POSTFXS=false CU_TONEMAPS=false CU_GENERICS=false CU_PARTICLES=false CU_GENERATORS=false CU_RENDERERS=false CU_SAMPLES=false
    - CU_TEST=false CU_IMPORTERS=false CU_DIVIDERS=false CU_POSTFXS=true CU_TONEMAPS=false CU_GENERICS=false CU_PARTICLES=false CU_GENERATORS=false CU_RENDERERS=false CU_SAMPLES=false
    - CU_TEST=false CU_IMPORTERS=false CU_DIVIDERS=false CU_POSTFXS=false CU_TONEMAPS=true CU_GENERICS=false CU_PARTICLES=false CU_GENERATORS=false CU_RENDERERS=false CU_SAMPLES=false
    - CU_TEST=false CU_IMPORTERS=false CU_DIVIDERS=false CU_POSTFXS=false CU_TONEMAPS=false CU_GENERICS=true CU_PARTICLES=false CU_GENERATORS=false CU_RENDERERS=false CU_SAMPLES=false
    - CU_TEST=false CU_IMPORTERS=false CU_DIVIDERS=false CU_POSTFXS=false CU_TONEMAPS=false CU_GENERICS=false CU_PARTICLES=true CU_GENERATORS=false CU_RENDERERS=false CU_SAMPLES=false
    - CU_TEST=false CU_IMPORTERS=false CU_DIVIDERS=false CU_POSTFXS=false CU_TONEMAPS=false CU_GENERICS=false CU_PARTICLES=false CU_GENERATORS=true CU_RENDERERS=false CU_SAMPLES=false
    - CU_TEST=false CU_IMPORTERS=false CU_DIVIDERS=false CU_POSTFXS=false CU_TONEMAPS=false CU_GENERICS=false CU_PARTICLES=false CU_GENERATORS=false CU_RENDERERS=true CU_SAMPLES=false
    - CU_TEST=false CU_IMPORTERS=false CU_DIVIDERS=false CU_POSTFXS=false CU_TONEMAPS=false CU_GENERICS=false CU_PARTICLES=false CU_GENERATORS=false CU_RENDERERS=false CU_SAMPLES=true

before_script:
  - sudo apt-get update -qq
  - sudo apt-get install libc6-dev
  - sudo apt-get install gcc-8-multilib g++-8-multilib
  - sudo apt-get install cmake
  - sudo apt-get install libfreeimage-dev
  - sudo apt-get install libfreetype6-dev
  - sudo apt-get install zlib1g-dev
  - sudo apt-get install libglm-dev
  - sudo apt-get install libassimp-dev
  - sudo apt-get install libwxgtk3.0-dev
  - sudo apt-get install libgtk2.0-dev
  - export CXX="g++-5"
  - export CC="gcc-5"

script:
  - mkdir -p build
  - cp ./travis/build.sh ./build
  - cd build
  - sh ./build.sh

branches:
  only:
    - master
    - development
    - travis
