version: "{build}"

os:
  - Visual Studio 2015

platform:
  - Win32
  - x64

environment:
  MSVC_DEFAULT_OPTIONS: ON

configuration:
  - Release

clone_folder:
  C:\projects\Castor3D

branches:
  only:
    - master
    - development

install:
  - cmd: git submodule init
  - cmd: git submodule update
  - cmd: if "%platform%"=="Win32" set CMAKE_GENERATOR_NAME=Visual Studio 14 2015
  - cmd: if "%platform%"=="x64"   set CMAKE_GENERATOR_NAME=Visual Studio 14 2015 Win64
  - cmd: if "%platform%"=="Win32" set DEPS_PLATFORM_NAME=x86
  - cmd: if "%platform%"=="x64"   set DEPS_PLATFORM_NAME=x64
  - cmd: cd C:\projects\Castor3D\dependencies\vc14\%DEPS_PLATFORM_NAME%
  - cmd: 7z x assimp-3.2-win32.zip
  - cmd: 7z x FbxSDK-2016.1.2-win32.zip
  - cmd: 7z x ffmpeg-20160422-git-268b5ae.zip
  - cmd: 7z x FreeImage-3.16.0-win32.zip
  - cmd: 7z x freetype-2.3.5-win32.zip
  - cmd: 7z x glm-0.9.5.2-win32.zip
  - cmd: 7z x zlib-1.2.7-win32.zip
  - cmd: cd C:\projects\Castor3D
  - cmd: md build
  - cmd: cd build
  - cmake -G "%CMAKE_GENERATOR_NAME%" -DCMAKE_BUILD_TYPE=%configuration% ../source -DPROJECTS_USE_PRECOMPILED_HEADERS=ON -DCASTOR_BUILDGRP_PARTICLES=ON -DCASTOR_BUILDGRP_TEST=ON -DCASTOR_BUILDGRP_INTEROP=OFF -DCASTOR_BUILDGRP_SAMPLE=ON -DCASTOR_BUILDGRP_DIVIDER=ON -DCASTOR_BUILDGRP_TONEMAPS=ON -DCASTOR_BUILDGRP_GENERIC=ON -DCASTOR_BUILDGRP_IMPORTER=ON -DCASTOR_BUILDGRP_POSTFX=ON -DCASTOR_BUILD_SAMPLE_CASTOR_TD=OFF -DCASTOR_BUILD_SAMPLE_CASTOR_VIEWER=OFF -DCASTOR_BUILD_TEST_RENDERER_OGL=OFF -DCASTOR_FORCE_ALL_IMPORTERS=ON

build:
  project: build/Castor3D.sln
  parallel: true

test_script:
  - cmd: ctest --build-config %configuration% --output-on-failure
