.tabs, .tabs2, .tabs3 {
    background-image: url('tab_bd.png');
    width: 100%;
    z-index: 101;
    font-size: 13px;
    font-family: 'Lucida Grande',Geneva,Helvetica,Arial,sans-serif;
    display: table;
}

.tabs2 {
    font-size: 10px;
}
.tabs3 {
    font-size: 9px;
}

.tablist {
    margin: 0;
    padding: 0;
    display: block;
}

.tablist li {
    float: left;
    display: table-cell;
    background-image: url('tab_bd.png');
    line-height: 36px;
    list-style: none;
}

.tablist a {
    display: block;
    padding: 0 20px;
    font-weight: bold;
    background-image:url('tab_sd.png');
    background-repeat:no-repeat;
    background-position:right;
    color: #B6C4DF;
    text-shadow: 0px 1px 1px black;
    text-decoration: none;
    outline: none;
}

.tablist a:focus {
    outline: auto;
    z-index: 10;
    position: relative;
}

.tabs3 .tablist a {
    padding: 0 10px;
}

.tablist a:hover {
    background-image: url('tab_hd.png');
    background-repeat:repeat-x;
    color: #DCE2EF;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 1.0);
    text-decoration: none;
}

.tablist li.current a {
    background-image: url('tab_ad.png');
    background-repeat:repeat-x;
    color: #DCE2EF;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 1.0);
}

